footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #FFFFFF;
}
footer h2{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}